<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>zones</key>
    <dict>
      <key>base</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>width</key>
        <integer>12</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>dsc</key>
      <dict>
        <key>position</key>
        <integer>-200</integer>
        <key>width</key>
        <integer>12</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>B1</key>
      <dict>
        <key>position</key>
        <integer>329</integer>
        <key>width</key>
        <integer>6</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>B2</key>
      <dict>
        <key>position</key>
        <integer>363</integer>
        <key>width</key>
        <integer>6</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>T1</key>
      <dict>
        <key>position</key>
        <integer>335</integer>
        <key>width</key>
        <integer>6</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>T2</key>
      <dict>
        <key>position</key>
        <integer>369</integer>
        <key>width</key>
        <integer>6</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>xhgt</key>
      <dict>
        <key>position</key>
        <integer>516</integer>
        <key>width</key>
        <integer>12</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>fig</key>
      <dict>
        <key>position</key>
        <integer>698</integer>
        <key>width</key>
        <integer>12</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>asc</key>
      <dict>
        <key>position</key>
        <integer>740</integer>
        <key>width</key>
        <integer>12</integer>
        <key>top</key>
        <true/>
      </dict>
    </dict>
    <key>stems</key>
    <dict>
      <key>68</key>
      <dict>
        <key>width</key>
        <integer>68</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>50</key>
      <dict>
        <key>width</key>
        <integer>50</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>62</key>
      <dict>
        <key>width</key>
        <integer>62</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>73</key>
      <dict>
        <key>width</key>
        <integer>73</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>80</key>
      <dict>
        <key>width</key>
        <integer>80</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>68</key>
      <dict>
        <key>width</key>
        <integer>68</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>89</key>
      <dict>
        <key>width</key>
        <integer>89</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>114</key>
      <dict>
        <key>width</key>
        <integer>114</integer>
        <key>horizontal</key>
        <false/>
      </dict>
    </dict>
  </dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>address</string>
    <string>airdrop</string>
    <string>altcoin</string>
    <string>application</string>
    <string>avatar_1</string>
    <string>avatar_2</string>
    <string>axie_infinity_protocol</string>
    <string>axie_infinity_shards_coin</string>
    <string>binance</string>
    <string>binance_coin</string>
    <string>bitcoin</string>
    <string>bitcoin_coin</string>
    <string>Block</string>
    <string>block_explorer</string>
    <string>block_genesis</string>
    <string>block_reward</string>
    <string>blockchain_private</string>
    <string>blockchain_protocol</string>
    <string>blockchain_public</string>
    <string>blockchain_symbol</string>
    <string>burn</string>
    <string>chain</string>
    <string>chain_main</string>
    <string>chain_off</string>
    <string>chain_on</string>
    <string>chain_side</string>
    <string>Cloud</string>
    <string>coin</string>
    <string>coin_mixer</string>
    <string>coinbase</string>
    <string>company</string>
    <string>confirmation</string>
    <string>consensus</string>
    <string>cryptocurrency</string>
    <string>cryptocurrency_symbol</string>
    <string>cryptography</string>
    <string>cryptography_asymmetric</string>
    <string>cypherpunk</string>
    <string>cypherpunk_left</string>
    <string>cypherpunk_right</string>
    <string>cypherpunk_symbol</string>
    <string>data_register</string>
    <string>database</string>
    <string>decentralized_app</string>
    <string>decentralized_autonomous_organization</string>
    <string>decentralized_exchange</string>
    <string>decentralized_finance</string>
    <string>decentralized_identifier</string>
    <string>discord</string>
    <string>dollar</string>
    <string>dollar_cbdc</string>
    <string>dollar_stablecoin</string>
    <string>double_spending</string>
    <string>economy</string>
    <string>encryption</string>
    <string>erc_20</string>
    <string>erc_721</string>
    <string>ether_coin</string>
    <string>ethereum</string>
    <string>euro</string>
    <string>euro_cbdc</string>
    <string>euro_stablecoin</string>
    <string>exchange</string>
    <string>Fork</string>
    <string>fungible</string>
    <string>gas</string>
    <string>governance</string>
    <string>gwei</string>
    <string>halving</string>
    <string>hash</string>
    <string>hash_function</string>
    <string>hashrate</string>
    <string>incrementation</string>
    <string>initial_coin_offering</string>
    <string>instagram</string>
    <string>internet</string>
    <string>interplanetary_file_system</string>
    <string>interrelation_system</string>
    <string>investor_1</string>
    <string>investor_2</string>
    <string>key_private</string>
    <string>key_public</string>
    <string>Ledger</string>
    <string>lightning_network</string>
    <string>memory_pool</string>
    <string>merkle_tree</string>
    <string>meta</string>
    <string>metamask</string>
    <string>metaverse</string>
    <string>metaverse_left</string>
    <string>metaverse_right</string>
    <string>mineable</string>
    <string>miner</string>
    <string>miner_left</string>
    <string>miner_right</string>
    <string>mining</string>
    <string>mining_pool</string>
    <string>mining_rig</string>
    <string>minteable</string>
    <string>money</string>
    <string>money_stack</string>
    <string>multisignature</string>
    <string>new_sheqel</string>
    <string>node</string>
    <string>nonce</string>
    <string>none_fungible</string>
    <string>none_fungible_token</string>
    <string>oracle</string>
    <string>peer_to_peer</string>
    <string>play_to_earn</string>
    <string>pound_sterling</string>
    <string>project</string>
    <string>proof_of_stake</string>
    <string>proof_of_work</string>
    <string>protocol</string>
    <string>punk</string>
    <string>punk_left</string>
    <string>punk_right</string>
    <string>ripple</string>
    <string>ripple_coin</string>
    <string>ronin_coin</string>
    <string>satoshi</string>
    <string>satoshi_nakamoto</string>
    <string>scalability</string>
    <string>scholar</string>
    <string>scholarship</string>
    <string>script</string>
    <string>secure_hash_algorithm_256</string>
    <string>seed</string>
    <string>server</string>
    <string>signing</string>
    <string>smart_contract</string>
    <string>smooth_love_potion_coin</string>
    <string>staking</string>
    <string>system_centralized</string>
    <string>system_distributed</string>
    <string>system_polarized</string>
    <string>target</string>
    <string>team</string>
    <string>tether</string>
    <string>tether_coin</string>
    <string>tezos</string>
    <string>tezos_coin</string>
    <string>token</string>
    <string>token_1</string>
    <string>token_2</string>
    <string>token_3</string>
    <string>token_4</string>
    <string>token_5</string>
    <string>token_6</string>
    <string>trading</string>
    <string>transaction</string>
    <string>transaction_fee</string>
    <string>twitter</string>
    <string>user_1</string>
    <string>user_1_front_negative</string>
    <string>user_1_left</string>
    <string>user_1_right</string>
    <string>user_2</string>
    <string>user_2_front_negative</string>
    <string>user_2_left</string>
    <string>user_2_right</string>
    <string>virtual_reality</string>
    <string>wallet</string>
    <string>web</string>
    <string>web1</string>
    <string>web2</string>
    <string>web3</string>
    <string>web3_identity</string>
    <string>web3_wallet</string>
    <string>whitelist</string>
    <string>white_paper</string>
    <string>yen</string>
    <string>yuan</string>
    <string>yuan_cbdc</string>
    <string>yuan_stablecoin</string>
    <string>stablecoin</string>
    <string>checkmark</string>
    <string>crossmark</string>
    <string>download</string>
    <string>exchange_arrow</string>
    <string>timerclock</string>
    <string>poweron</string>
    <string>divide</string>
    <string>equal</string>
    <string>minus</string>
    <string>multiply</string>
    <string>percent</string>
    <string>plus</string>
    <string>onecircle</string>
    <string>onenegativecircled</string>
    <string>twocircle</string>
    <string>twonegativecircled</string>
    <string>threecircle</string>
    <string>threenegativecircled</string>
    <string>fourcircle</string>
    <string>fournegativecircled</string>
    <string>fivecircle</string>
    <string>fivenegativecircled</string>
    <string>sixcircle</string>
    <string>sixnegativecircled</string>
    <string>sevencircle</string>
    <string>sevennegativecircled</string>
    <string>eightcircle</string>
    <string>eightnegativecircled</string>
    <string>ninecircle</string>
    <string>ninenegativecircled</string>
    <string>zerocircle</string>
    <string>zerocircleblack</string>
    <string>arrowleft</string>
    <string>arrowup</string>
    <string>arrowright</string>
    <string>arrowdown</string>
    <string>arrowupleftcorner</string>
    <string>arrowuprightcorner</string>
    <string>arrowdownleftcorner</string>
    <string>arrowdownrightcorner</string>
    <string>arrowrightdowncorner</string>
    <string>arrowleftdowncorner</string>
    <string>arrowleftupcorner</string>
    <string>arrowrightupcorner</string>
    <string>arrowrightarrowleft</string>
    <string>uparrowleftofdownarrow</string>
    <string>arrowleftarrowright</string>
    <string>downwarrowleftofuparrow</string>
    <string>arrowleftright</string>
    <string>arrowupdown</string>
    <string>leftwardsarrow-hwd</string>
    <string>upwardsarrow-hwd</string>
    <string>rightwardsarrow-hwd</string>
    <string>downwardsarrow-hwd</string>
    <string>arrowleftdashed</string>
    <string>arrowupdashed</string>
    <string>arrowrightdashed</string>
    <string>arrowdowndashed</string>
    <string>leftHeavyArrow</string>
    <string>upHeavyArrow</string>
    <string>rightHeavyArrow</string>
    <string>downHeavyArrow</string>
    <string>arrowupleft</string>
    <string>arrowupright</string>
    <string>arrowdownright</string>
    <string>arrowdownleft</string>
    <string>arrowdowncounterclockhalf</string>
    <string>arrowdownclockhalf</string>
    <string>arrowhookleft</string>
    <string>arrowhookright</string>
    <string>arrowupleftcounterclock</string>
    <string>arrowuprightclock</string>
    <string>lighthorz</string>
    <string>heavyhorz</string>
    <string>lightvert</string>
    <string>heavyvert</string>
    <string>lighttrpldashhorz</string>
    <string>heavytrpldashhorz</string>
    <string>lighttrpldashvert</string>
    <string>heavytrpldashvert</string>
    <string>lightquaddashhorz</string>
    <string>heavyquaddashhorz</string>
    <string>lightquaddashvert</string>
    <string>heavyquaddashvert</string>
    <string>lightdnright</string>
    <string>dnlightrightheavy</string>
    <string>dnheavyrightlight</string>
    <string>heavydnright</string>
    <string>lightdnleft</string>
    <string>dnlightleftheavy</string>
    <string>dnheavyleftlight</string>
    <string>heavydnleft</string>
    <string>lightupright</string>
    <string>uplightrightheavy</string>
    <string>upheavyrightlight</string>
    <string>heavyupright</string>
    <string>lightupleft</string>
    <string>uplightleftheavy</string>
    <string>upheavyleftlight</string>
    <string>heavyupleft</string>
    <string>lightvertright</string>
    <string>vertlightrightheavy</string>
    <string>upheavyrightdnlight</string>
    <string>dnheavyrightuplight</string>
    <string>vertheavyrightlight</string>
    <string>dnlightrightupheavy</string>
    <string>uplightrightdnheavy</string>
    <string>heavyvertright</string>
    <string>lightvertleft</string>
    <string>vertlightleftheavy</string>
    <string>upheavyleftdnlight</string>
    <string>dnheavyleftuplight</string>
    <string>vertheavyleftlight</string>
    <string>dnlightleftupheavy</string>
    <string>uplightleftdnheavy</string>
    <string>heavyvertleft</string>
    <string>lightdnhorz</string>
    <string>leftheavyrightdnlight</string>
    <string>rightheavyleftdnlight</string>
    <string>dnlighthorzheavy</string>
    <string>dnheavyhorzlight</string>
    <string>rightlightleftdnheavy</string>
    <string>leftlightrightdnheavy</string>
    <string>heavydnhorz</string>
    <string>lightuphorz</string>
    <string>leftheavyrightuplight</string>
    <string>rightheavyleftuplight</string>
    <string>uplighthorzheavy</string>
    <string>upheavyhorzlight</string>
    <string>rightlightleftupheavy</string>
    <string>leftlightrightupheavy</string>
    <string>heavyuphorz</string>
    <string>lightverthorz</string>
    <string>leftheavyrightvertlight</string>
    <string>rightheavyleftvertlight</string>
    <string>vertlighthorzheavy</string>
    <string>upheavydnhorzlight</string>
    <string>dnheavyuphorzlight</string>
    <string>vertheavyhorzlight</string>
    <string>leftupheavyrightdnlight</string>
    <string>rightupheavyleftdnlight</string>
    <string>leftdnheavyrightuplight</string>
    <string>rightdnheavyleftuplight</string>
    <string>dnlightuphorzheavy</string>
    <string>uplightdnhorzheavy</string>
    <string>rightlightleftvertheavy</string>
    <string>leftlightrightvertheavy</string>
    <string>heavyverthorz</string>
    <string>lightdbldashhorz</string>
    <string>heavydbldashhorz</string>
    <string>lightdbldashvert</string>
    <string>heavydbldashvert</string>
    <string>dblhorz</string>
    <string>dblvert</string>
    <string>dnsngrightdbl</string>
    <string>dndblrightsng</string>
    <string>dbldnright</string>
    <string>dnsngleftdbl</string>
    <string>dndblleftsng</string>
    <string>dbldnleft</string>
    <string>upsngrightdbl</string>
    <string>updblrightsng</string>
    <string>dblupright</string>
    <string>upsngleftdbl</string>
    <string>updblleftsng</string>
    <string>dblupleft</string>
    <string>vertsngrightdbl</string>
    <string>vertdblrightsng</string>
    <string>dblvertright</string>
    <string>vertsngleftdbl</string>
    <string>vertdblleftsng</string>
    <string>dblvertleft</string>
    <string>dnsnghorzdbl</string>
    <string>dndblhorzsng</string>
    <string>dbldnhorz</string>
    <string>upsnghorzdbl</string>
    <string>updblhorzsng</string>
    <string>dbluphorz</string>
    <string>vertsnghorzdbl</string>
    <string>vertdblhorzsng</string>
    <string>dblverthorz</string>
    <string>lightarcdnright</string>
    <string>lightarcdnleft</string>
    <string>lightarcupleft</string>
    <string>lightarcupright</string>
    <string>lightdiaguprightdnleft</string>
    <string>lightdiagupleftdnright</string>
    <string>lightdiagcross</string>
    <string>lightleft</string>
    <string>lightup</string>
    <string>lightright</string>
    <string>lightdn</string>
    <string>heavyleft</string>
    <string>heavyup</string>
    <string>heavyright</string>
    <string>heavydn</string>
    <string>lightleftheavyright</string>
    <string>lightupheavydn</string>
    <string>heavyleftlightright</string>
    <string>heavyuplightdn</string>
    <string>upblock</string>
    <string>lowerOneEighthBlock</string>
    <string>lowerOneQuarterBlock</string>
    <string>lowerThreeEighthsBlock</string>
    <string>dnblock</string>
    <string>lowerFiveEighthsBlock</string>
    <string>lowerThreeQuartersBlock</string>
    <string>lowerSevenEighthsBlock</string>
    <string>block</string>
    <string>leftSevenEighthsBlock</string>
    <string>leftThreeQuartersBlock</string>
    <string>leftFiveEighthsBlock</string>
    <string>lfblock</string>
    <string>leftThreeEighthsBlock</string>
    <string>leftOneQuarterBlock</string>
    <string>leftOneEighthBlock</string>
    <string>rtblock</string>
    <string>ltshade</string>
    <string>shade</string>
    <string>dkshade</string>
    <string>upperOneEighthBlock</string>
    <string>rightOneEighthBlock</string>
    <string>quadrantLowerLeft</string>
    <string>quadrantLowerRight</string>
    <string>quadrantUpperLeft</string>
    <string>quadrantUpperLeftAndLowerLeftAndLowerRight</string>
    <string>quadrantUpperLeftAndLowerRight</string>
    <string>quadrantUpperLeftAndUpperRightAndLowerLeft</string>
    <string>quadrantUpperLeftAndUpperRightAndLowerRight</string>
    <string>quadrantUpperRight</string>
    <string>quadrantUpperRightAndLowerLeft</string>
    <string>quadrantUpperRightAndLowerLeftAndLowerRight</string>
    <string>NULL</string>
    <string>CR</string>
    <string>space</string>
    <string>nbspace</string>
    <string>dieresis</string>
    <string>J</string>
    <string>Odieresis</string>
    <string>less</string>
    <string>Idieresis</string>
    <string>Igrave</string>
    <string>Alpha</string>
    <string>alpha</string>
    <string>beta</string>
    <string>Beta</string>
    <string>Phi</string>
    <string>E</string>
    <string>e</string>
    <string>Eacute</string>
    <string>Egrave</string>
    <string>f</string>
    <string>B</string>
    <string>F</string>
    <string>b</string>
    <string>asterisk</string>
    <string>A</string>
    <string>a</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Acircumflex</string>
    <string>slash</string>
    <string>Oacute</string>
    <string>Y</string>
    <string>theta</string>
    <string>Icircumflex</string>
    <string>ae</string>
    <string>G</string>
    <string>Ocircumflex</string>
    <string>currency</string>
    <string>underscore</string>
    <string>hyphen</string>
    <string>pi</string>
    <string>p</string>
    <string>P</string>
    <string>Q</string>
    <string>D</string>
    <string>d</string>
    <string>greater</string>
    <string>atilde</string>
    <string>L</string>
    <string>l</string>
    <string>idieresis</string>
    <string>Delta</string>
    <string>Theta</string>
    <string>xi</string>
    <string>y</string>
    <string>quotesingle</string>
    <string>comma</string>
    <string>exclamdown</string>
    <string>epsilon</string>
    <string>cent</string>
    <string>Epsilon</string>
    <string>t</string>
    <string>Agrave</string>
    <string>ydieresis</string>
    <string>oe</string>
    <string>X</string>
    <string>Otilde</string>
    <string>guillemotright</string>
    <string>numbersign</string>
    <string>guillemotleft</string>
    <string>braceright</string>
    <string>ampersand</string>
    <string>j</string>
    <string>mu</string>
    <string>at</string>
    <string>adieresis</string>
    <string>Ccedilla</string>
    <string>i</string>
    <string>I</string>
    <string>k</string>
    <string>K</string>
    <string>parenright</string>
    <string>acircumflex</string>
    <string>eacute</string>
    <string>section</string>
    <string>Mu</string>
    <string>m</string>
    <string>M</string>
    <string>n</string>
    <string>N</string>
    <string>Edieresis</string>
    <string>g</string>
    <string>h</string>
    <string>H</string>
    <string>Ecircumflex</string>
    <string>braceleft</string>
    <string>bracketleft</string>
    <string>colon</string>
    <string>O</string>
    <string>o</string>
    <string>lslash</string>
    <string>degree</string>
    <string>r</string>
    <string>semicolon</string>
    <string>exclam</string>
    <string>bar</string>
    <string>ntilde</string>
    <string>period</string>
    <string>edieresis</string>
    <string>ecircumflex</string>
    <string>x</string>
    <string>uni00B5</string>
    <string>Ugrave</string>
    <string>ucircumflex</string>
    <string>Pi</string>
    <string>uni2715</string>
    <string>uni03A9</string>
    <string>questiondown</string>
    <string>question</string>
    <string>egrave</string>
    <string>S</string>
    <string>s</string>
    <string>quotedbl</string>
    <string>R</string>
    <string>grave</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>backslash</string>
    <string>omega</string>
    <string>Ntilde</string>
    <string>C</string>
    <string>ccedilla</string>
    <string>c</string>
    <string>asciitilde</string>
    <string>igrave</string>
    <string>Tau</string>
    <string>uni20AE</string>
    <string>Psi</string>
    <string>psi</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>ocircumflex</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>Oslash</string>
    <string>oslash</string>
    <string>T</string>
    <string>Ograve</string>
    <string>OE</string>
    <string>tau</string>
    <string>U</string>
    <string>uacute</string>
    <string>Uacute</string>
    <string>ugrave</string>
    <string>u</string>
    <string>udieresis</string>
    <string>Udieresis</string>
    <string>Ucircumflex</string>
    <string>icircumflex</string>
    <string>parenleft</string>
    <string>W</string>
    <string>V</string>
    <string>v</string>
    <string>w</string>
    <string>q</string>
    <string>Lslash</string>
    <string>Z</string>
    <string>z</string>
    <string>delta</string>
    <string>phi</string>
    <string>arrowdownfrombar</string>
    <string>rightharpoonoverleftharpoon</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>zero</string>
  </array>
</dict>
</plist>
