<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>Acircumflex</key>
  <string>A_circumflex.glif</string>
  <key>Adieresis</key>
  <string>A_dieresis.glif</string>
  <key>Agrave</key>
  <string>A_grave.glif</string>
  <key>Alpha</key>
  <string>A_lpha.glif</string>
  <key>Atilde</key>
  <string>A_tilde.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>Beta</key>
  <string>B_eta.glif</string>
  <key>Block</key>
  <string>B_lock.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>CR</key>
  <string>C_R_.glif</string>
  <key>Ccedilla</key>
  <string>C_cedilla.glif</string>
  <key>Cloud</key>
  <string>C_loud.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>Delta</key>
  <string>D_elta.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>Eacute</key>
  <string>E_acute.glif</string>
  <key>Ecircumflex</key>
  <string>E_circumflex.glif</string>
  <key>Edieresis</key>
  <string>E_dieresis.glif</string>
  <key>Egrave</key>
  <string>E_grave.glif</string>
  <key>Epsilon</key>
  <string>E_psilon.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>Fork</key>
  <string>F_ork.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>Icircumflex</key>
  <string>I_circumflex.glif</string>
  <key>Idieresis</key>
  <string>I_dieresis.glif</string>
  <key>Igrave</key>
  <string>I_grave.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>Ledger</key>
  <string>L_edger.glif</string>
  <key>Lslash</key>
  <string>L_slash.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>Mu</key>
  <string>M_u.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>NULL</key>
  <string>N_U_L_L_.glif</string>
  <key>Ntilde</key>
  <string>N_tilde.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>Oacute</key>
  <string>O_acute.glif</string>
  <key>Ocircumflex</key>
  <string>O_circumflex.glif</string>
  <key>Odieresis</key>
  <string>O_dieresis.glif</string>
  <key>Ograve</key>
  <string>O_grave.glif</string>
  <key>Oslash</key>
  <string>O_slash.glif</string>
  <key>Otilde</key>
  <string>O_tilde.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Phi</key>
  <string>P_hi.glif</string>
  <key>Pi</key>
  <string>P_i.glif</string>
  <key>Psi</key>
  <string>P_si.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>Tau</key>
  <string>T_au.glif</string>
  <key>Theta</key>
  <string>T_heta.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>Uacute</key>
  <string>U_acute.glif</string>
  <key>Ucircumflex</key>
  <string>U_circumflex.glif</string>
  <key>Udieresis</key>
  <string>U_dieresis.glif</string>
  <key>Ugrave</key>
  <string>U_grave.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>address</key>
  <string>address.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>airdrop</key>
  <string>airdrop.glif</string>
  <key>alpha</key>
  <string>alpha.glif</string>
  <key>altcoin</key>
  <string>altcoin.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>application</key>
  <string>application.glif</string>
  <key>arrowdown</key>
  <string>arrowdown.glif</string>
  <key>arrowdownclockhalf</key>
  <string>arrowdownclockhalf.glif</string>
  <key>arrowdowncounterclockhalf</key>
  <string>arrowdowncounterclockhalf.glif</string>
  <key>arrowdowndashed</key>
  <string>arrowdowndashed.glif</string>
  <key>arrowdownfrombar</key>
  <string>arrowdownfrombar.glif</string>
  <key>arrowdownleft</key>
  <string>arrowdownleft.glif</string>
  <key>arrowdownleftcorner</key>
  <string>arrowdownleftcorner.glif</string>
  <key>arrowdownright</key>
  <string>arrowdownright.glif</string>
  <key>arrowdownrightcorner</key>
  <string>arrowdownrightcorner.glif</string>
  <key>arrowhookleft</key>
  <string>arrowhookleft.glif</string>
  <key>arrowhookright</key>
  <string>arrowhookright.glif</string>
  <key>arrowleft</key>
  <string>arrowleft.glif</string>
  <key>arrowleftarrowright</key>
  <string>arrowleftarrowright.glif</string>
  <key>arrowleftdashed</key>
  <string>arrowleftdashed.glif</string>
  <key>arrowleftdowncorner</key>
  <string>arrowleftdowncorner.glif</string>
  <key>arrowleftright</key>
  <string>arrowleftright.glif</string>
  <key>arrowleftupcorner</key>
  <string>arrowleftupcorner.glif</string>
  <key>arrowright</key>
  <string>arrowright.glif</string>
  <key>arrowrightarrowleft</key>
  <string>arrowrightarrowleft.glif</string>
  <key>arrowrightdashed</key>
  <string>arrowrightdashed.glif</string>
  <key>arrowrightdowncorner</key>
  <string>arrowrightdowncorner.glif</string>
  <key>arrowrightupcorner</key>
  <string>arrowrightupcorner.glif</string>
  <key>arrowup</key>
  <string>arrowup.glif</string>
  <key>arrowupdashed</key>
  <string>arrowupdashed.glif</string>
  <key>arrowupdown</key>
  <string>arrowupdown.glif</string>
  <key>arrowupleft</key>
  <string>arrowupleft.glif</string>
  <key>arrowupleftcorner</key>
  <string>arrowupleftcorner.glif</string>
  <key>arrowupleftcounterclock</key>
  <string>arrowupleftcounterclock.glif</string>
  <key>arrowupright</key>
  <string>arrowupright.glif</string>
  <key>arrowuprightclock</key>
  <string>arrowuprightclock.glif</string>
  <key>arrowuprightcorner</key>
  <string>arrowuprightcorner.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>atilde</key>
  <string>atilde.glif</string>
  <key>avatar_1</key>
  <string>avatar_1.glif</string>
  <key>avatar_2</key>
  <string>avatar_2.glif</string>
  <key>axie_infinity</key>
  <string>axie_infinity.glif</string>
  <key>axie_infinity_shards_coin</key>
  <string>axie_infinity_shards_coin.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>beta</key>
  <string>beta.glif</string>
  <key>binance</key>
  <string>binance.glif</string>
  <key>binance_coin</key>
  <string>binance_coin.glif</string>
  <key>bitcoin</key>
  <string>bitcoin.glif</string>
  <key>bitcoin_coin</key>
  <string>bitcoin_coin.glif</string>
  <key>block</key>
  <string>block.glif</string>
  <key>block_explorer</key>
  <string>block_explorer.glif</string>
  <key>block_genesis</key>
  <string>block_genesis.glif</string>
  <key>block_reward</key>
  <string>block_reward.glif</string>
  <key>blockchain_private</key>
  <string>blockchain_private.glif</string>
  <key>blockchain_protocol</key>
  <string>blockchain_protocol.glif</string>
  <key>blockchain_public</key>
  <string>blockchain_public.glif</string>
  <key>blockchain_symbol</key>
  <string>blockchain_symbol.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>burn</key>
  <string>burn.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>cbdc</key>
  <string>cbdc.glif</string>
  <key>ccedilla</key>
  <string>ccedilla.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>chain</key>
  <string>chain.glif</string>
  <key>chain_main</key>
  <string>chain_main.glif</string>
  <key>chain_off</key>
  <string>chain_off.glif</string>
  <key>chain_on</key>
  <string>chain_on.glif</string>
  <key>chain_side</key>
  <string>chain_side.glif</string>
  <key>checkmark</key>
  <string>checkmark.glif</string>
  <key>coin</key>
  <string>coin.glif</string>
  <key>coin_mixer</key>
  <string>coin_mixer.glif</string>
  <key>coinbase</key>
  <string>coinbase.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>company</key>
  <string>company.glif</string>
  <key>confirmation</key>
  <string>confirmation.glif</string>
  <key>consensus</key>
  <string>consensus.glif</string>
  <key>crossmark</key>
  <string>crossmark.glif</string>
  <key>cryptocurrency</key>
  <string>cryptocurrency.glif</string>
  <key>cryptography</key>
  <string>cryptography.glif</string>
  <key>cryptography_asymmetric</key>
  <string>cryptography_asymmetric.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>cypherpunk</key>
  <string>cypherpunk.glif</string>
  <key>cypherpunk_left</key>
  <string>cypherpunk_left.glif</string>
  <key>cypherpunk_right</key>
  <string>cypherpunk_right.glif</string>
  <key>cypherpunk_symbol</key>
  <string>cypherpunk_symbol.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>data_register</key>
  <string>data_register.glif</string>
  <key>database</key>
  <string>database.glif</string>
  <key>dbldnhorz</key>
  <string>dbldnhorz.glif</string>
  <key>dbldnleft</key>
  <string>dbldnleft.glif</string>
  <key>dbldnright</key>
  <string>dbldnright.glif</string>
  <key>dblhorz</key>
  <string>dblhorz.glif</string>
  <key>dbluphorz</key>
  <string>dbluphorz.glif</string>
  <key>dblupleft</key>
  <string>dblupleft.glif</string>
  <key>dblupright</key>
  <string>dblupright.glif</string>
  <key>dblvert</key>
  <string>dblvert.glif</string>
  <key>dblverthorz</key>
  <string>dblverthorz.glif</string>
  <key>dblvertleft</key>
  <string>dblvertleft.glif</string>
  <key>dblvertright</key>
  <string>dblvertright.glif</string>
  <key>decentralized_app</key>
  <string>decentralized_app.glif</string>
  <key>decentralized_autonomous_organization</key>
  <string>decentralized_autonomous_organization.glif</string>
  <key>decentralized_exchange</key>
  <string>decentralized_exchange.glif</string>
  <key>decentralized_finance</key>
  <string>decentralized_finance.glif</string>
  <key>decentralized_identifier</key>
  <string>decentralized_identifier.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>delta</key>
  <string>delta.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>discord</key>
  <string>discord.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>dkshade</key>
  <string>dkshade.glif</string>
  <key>dnblock</key>
  <string>dnblock.glif</string>
  <key>dndblhorzsng</key>
  <string>dndblhorzsng.glif</string>
  <key>dndblleftsng</key>
  <string>dndblleftsng.glif</string>
  <key>dndblrightsng</key>
  <string>dndblrightsng.glif</string>
  <key>dnheavyhorzlight</key>
  <string>dnheavyhorzlight.glif</string>
  <key>dnheavyleftlight</key>
  <string>dnheavyleftlight.glif</string>
  <key>dnheavyleftuplight</key>
  <string>dnheavyleftuplight.glif</string>
  <key>dnheavyrightlight</key>
  <string>dnheavyrightlight.glif</string>
  <key>dnheavyrightuplight</key>
  <string>dnheavyrightuplight.glif</string>
  <key>dnheavyuphorzlight</key>
  <string>dnheavyuphorzlight.glif</string>
  <key>dnlighthorzheavy</key>
  <string>dnlighthorzheavy.glif</string>
  <key>dnlightleftheavy</key>
  <string>dnlightleftheavy.glif</string>
  <key>dnlightleftupheavy</key>
  <string>dnlightleftupheavy.glif</string>
  <key>dnlightrightheavy</key>
  <string>dnlightrightheavy.glif</string>
  <key>dnlightrightupheavy</key>
  <string>dnlightrightupheavy.glif</string>
  <key>dnlightuphorzheavy</key>
  <string>dnlightuphorzheavy.glif</string>
  <key>dnsnghorzdbl</key>
  <string>dnsnghorzdbl.glif</string>
  <key>dnsngleftdbl</key>
  <string>dnsngleftdbl.glif</string>
  <key>dnsngrightdbl</key>
  <string>dnsngrightdbl.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dollar_cbdc</key>
  <string>dollar_cbdc.glif</string>
  <key>dollar_stablecoin</key>
  <string>dollar_stablecoin.glif</string>
  <key>double_spending</key>
  <string>double_spending.glif</string>
  <key>downHeavyArrow</key>
  <string>downH_eavyA_rrow.glif</string>
  <key>download</key>
  <string>download.glif</string>
  <key>downwardsarrow-hwd</key>
  <string>downwardsarrow-hwd.glif</string>
  <key>downwarrowleftofuparrow</key>
  <string>downwarrowleftofuparrow.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eacute</key>
  <string>eacute.glif</string>
  <key>ecircumflex</key>
  <string>ecircumflex.glif</string>
  <key>economy</key>
  <string>economy.glif</string>
  <key>edieresis</key>
  <string>edieresis.glif</string>
  <key>egrave</key>
  <string>egrave.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>eightcircle</key>
  <string>eightcircle.glif</string>
  <key>eightnegativecircled</key>
  <string>eightnegativecircled.glif</string>
  <key>encryption</key>
  <string>encryption.glif</string>
  <key>epsilon</key>
  <string>epsilon.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>erc_20</key>
  <string>erc_20.glif</string>
  <key>erc_721</key>
  <string>erc_721.glif</string>
  <key>ether_coin</key>
  <string>ether_coin.glif</string>
  <key>ethereum</key>
  <string>ethereum.glif</string>
  <key>euro</key>
  <string>euro.glif</string>
  <key>euro_cbdc</key>
  <string>euro_cbdc.glif</string>
  <key>euro_stablecoin</key>
  <string>euro_stablecoin.glif</string>
  <key>exchange</key>
  <string>exchange.glif</string>
  <key>exchange_arrow</key>
  <string>exchange_arrow.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>fivecircle</key>
  <string>fivecircle.glif</string>
  <key>fivenegativecircled</key>
  <string>fivenegativecircled.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>fourcircle</key>
  <string>fourcircle.glif</string>
  <key>fournegativecircled</key>
  <string>fournegativecircled.glif</string>
  <key>fungible</key>
  <string>fungible.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>gas</key>
  <string>gas.glif</string>
  <key>governance</key>
  <string>governance.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>guillemotleft</key>
  <string>guillemotleft.glif</string>
  <key>guillemotright</key>
  <string>guillemotright.glif</string>
  <key>gwei</key>
  <string>gwei.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>halving</key>
  <string>halving.glif</string>
  <key>hash</key>
  <string>hash.glif</string>
  <key>hash_function</key>
  <string>hash_function.glif</string>
  <key>hashrate</key>
  <string>hashrate.glif</string>
  <key>heavydbldashhorz</key>
  <string>heavydbldashhorz.glif</string>
  <key>heavydbldashvert</key>
  <string>heavydbldashvert.glif</string>
  <key>heavydn</key>
  <string>heavydn.glif</string>
  <key>heavydnhorz</key>
  <string>heavydnhorz.glif</string>
  <key>heavydnleft</key>
  <string>heavydnleft.glif</string>
  <key>heavydnright</key>
  <string>heavydnright.glif</string>
  <key>heavyhorz</key>
  <string>heavyhorz.glif</string>
  <key>heavyleft</key>
  <string>heavyleft.glif</string>
  <key>heavyleftlightright</key>
  <string>heavyleftlightright.glif</string>
  <key>heavyquaddashhorz</key>
  <string>heavyquaddashhorz.glif</string>
  <key>heavyquaddashvert</key>
  <string>heavyquaddashvert.glif</string>
  <key>heavyright</key>
  <string>heavyright.glif</string>
  <key>heavytrpldashhorz</key>
  <string>heavytrpldashhorz.glif</string>
  <key>heavytrpldashvert</key>
  <string>heavytrpldashvert.glif</string>
  <key>heavyup</key>
  <string>heavyup.glif</string>
  <key>heavyuphorz</key>
  <string>heavyuphorz.glif</string>
  <key>heavyupleft</key>
  <string>heavyupleft.glif</string>
  <key>heavyuplightdn</key>
  <string>heavyuplightdn.glif</string>
  <key>heavyupright</key>
  <string>heavyupright.glif</string>
  <key>heavyvert</key>
  <string>heavyvert.glif</string>
  <key>heavyverthorz</key>
  <string>heavyverthorz.glif</string>
  <key>heavyvertleft</key>
  <string>heavyvertleft.glif</string>
  <key>heavyvertright</key>
  <string>heavyvertright.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>icircumflex</key>
  <string>icircumflex.glif</string>
  <key>idieresis</key>
  <string>idieresis.glif</string>
  <key>igrave</key>
  <string>igrave.glif</string>
  <key>incrementation</key>
  <string>incrementation.glif</string>
  <key>initial_coin_offering</key>
  <string>initial_coin_offering.glif</string>
  <key>instagram</key>
  <string>instagram.glif</string>
  <key>internet</key>
  <string>internet.glif</string>
  <key>interplanetary_file_system</key>
  <string>interplanetary_file_system.glif</string>
  <key>interrelation_system</key>
  <string>interrelation_system.glif</string>
  <key>investor_1</key>
  <string>investor_1.glif</string>
  <key>investor_2</key>
  <string>investor_2.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>key_private</key>
  <string>key_private.glif</string>
  <key>key_public</key>
  <string>key_public.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>leftFiveEighthsBlock</key>
  <string>leftF_iveE_ighthsB_lock.glif</string>
  <key>leftHeavyArrow</key>
  <string>leftH_eavyA_rrow.glif</string>
  <key>leftOneEighthBlock</key>
  <string>leftO_neE_ighthB_lock.glif</string>
  <key>leftOneQuarterBlock</key>
  <string>leftO_neQ_uarterB_lock.glif</string>
  <key>leftSevenEighthsBlock</key>
  <string>leftS_evenE_ighthsB_lock.glif</string>
  <key>leftThreeEighthsBlock</key>
  <string>leftT_hreeE_ighthsB_lock.glif</string>
  <key>leftThreeQuartersBlock</key>
  <string>leftT_hreeQ_uartersB_lock.glif</string>
  <key>leftdnheavyrightuplight</key>
  <string>leftdnheavyrightuplight.glif</string>
  <key>leftheavyrightdnlight</key>
  <string>leftheavyrightdnlight.glif</string>
  <key>leftheavyrightuplight</key>
  <string>leftheavyrightuplight.glif</string>
  <key>leftheavyrightvertlight</key>
  <string>leftheavyrightvertlight.glif</string>
  <key>leftlightrightdnheavy</key>
  <string>leftlightrightdnheavy.glif</string>
  <key>leftlightrightupheavy</key>
  <string>leftlightrightupheavy.glif</string>
  <key>leftlightrightvertheavy</key>
  <string>leftlightrightvertheavy.glif</string>
  <key>leftupheavyrightdnlight</key>
  <string>leftupheavyrightdnlight.glif</string>
  <key>leftwardsarrow-hwd</key>
  <string>leftwardsarrow-hwd.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>lfblock</key>
  <string>lfblock.glif</string>
  <key>lightarcdnleft</key>
  <string>lightarcdnleft.glif</string>
  <key>lightarcdnright</key>
  <string>lightarcdnright.glif</string>
  <key>lightarcupleft</key>
  <string>lightarcupleft.glif</string>
  <key>lightarcupright</key>
  <string>lightarcupright.glif</string>
  <key>lightdbldashhorz</key>
  <string>lightdbldashhorz.glif</string>
  <key>lightdbldashvert</key>
  <string>lightdbldashvert.glif</string>
  <key>lightdiagcross</key>
  <string>lightdiagcross.glif</string>
  <key>lightdiagupleftdnright</key>
  <string>lightdiagupleftdnright.glif</string>
  <key>lightdiaguprightdnleft</key>
  <string>lightdiaguprightdnleft.glif</string>
  <key>lightdn</key>
  <string>lightdn.glif</string>
  <key>lightdnhorz</key>
  <string>lightdnhorz.glif</string>
  <key>lightdnleft</key>
  <string>lightdnleft.glif</string>
  <key>lightdnright</key>
  <string>lightdnright.glif</string>
  <key>lighthorz</key>
  <string>lighthorz.glif</string>
  <key>lightleft</key>
  <string>lightleft.glif</string>
  <key>lightleftheavyright</key>
  <string>lightleftheavyright.glif</string>
  <key>lightning_network</key>
  <string>lightning_network.glif</string>
  <key>lightquaddashhorz</key>
  <string>lightquaddashhorz.glif</string>
  <key>lightquaddashvert</key>
  <string>lightquaddashvert.glif</string>
  <key>lightright</key>
  <string>lightright.glif</string>
  <key>lighttrpldashhorz</key>
  <string>lighttrpldashhorz.glif</string>
  <key>lighttrpldashvert</key>
  <string>lighttrpldashvert.glif</string>
  <key>lightup</key>
  <string>lightup.glif</string>
  <key>lightupheavydn</key>
  <string>lightupheavydn.glif</string>
  <key>lightuphorz</key>
  <string>lightuphorz.glif</string>
  <key>lightupleft</key>
  <string>lightupleft.glif</string>
  <key>lightupright</key>
  <string>lightupright.glif</string>
  <key>lightvert</key>
  <string>lightvert.glif</string>
  <key>lightverthorz</key>
  <string>lightverthorz.glif</string>
  <key>lightvertleft</key>
  <string>lightvertleft.glif</string>
  <key>lightvertright</key>
  <string>lightvertright.glif</string>
  <key>lowerFiveEighthsBlock</key>
  <string>lowerF_iveE_ighthsB_lock.glif</string>
  <key>lowerOneEighthBlock</key>
  <string>lowerO_neE_ighthB_lock.glif</string>
  <key>lowerOneQuarterBlock</key>
  <string>lowerO_neQ_uarterB_lock.glif</string>
  <key>lowerSevenEighthsBlock</key>
  <string>lowerS_evenE_ighthsB_lock.glif</string>
  <key>lowerThreeEighthsBlock</key>
  <string>lowerT_hreeE_ighthsB_lock.glif</string>
  <key>lowerThreeQuartersBlock</key>
  <string>lowerT_hreeQ_uartersB_lock.glif</string>
  <key>lslash</key>
  <string>lslash.glif</string>
  <key>ltshade</key>
  <string>ltshade.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>memory_pool</key>
  <string>memory_pool.glif</string>
  <key>merkle_tree</key>
  <string>merkle_tree.glif</string>
  <key>meta</key>
  <string>meta.glif</string>
  <key>metamask</key>
  <string>metamask.glif</string>
  <key>metaverse</key>
  <string>metaverse.glif</string>
  <key>metaverse_left</key>
  <string>metaverse_left.glif</string>
  <key>metaverse_right</key>
  <string>metaverse_right.glif</string>
  <key>mineable</key>
  <string>mineable.glif</string>
  <key>miner</key>
  <string>miner.glif</string>
  <key>miner_left</key>
  <string>miner_left.glif</string>
  <key>miner_right</key>
  <string>miner_right.glif</string>
  <key>mining</key>
  <string>mining.glif</string>
  <key>mining_pool</key>
  <string>mining_pool.glif</string>
  <key>mining_rig</key>
  <string>mining_rig.glif</string>
  <key>minteable</key>
  <string>minteable.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>money</key>
  <string>money.glif</string>
  <key>money_stack</key>
  <string>money_stack.glif</string>
  <key>mu</key>
  <string>mu.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>multisignature</key>
  <string>multisignature.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>nbspace</key>
  <string>nbspace.glif</string>
  <key>new_sheqel</key>
  <string>new_sheqel.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>ninecircle</key>
  <string>ninecircle.glif</string>
  <key>ninenegativecircled</key>
  <string>ninenegativecircled.glif</string>
  <key>node</key>
  <string>node.glif</string>
  <key>nonce</key>
  <string>nonce.glif</string>
  <key>none_fungible</key>
  <string>none_fungible.glif</string>
  <key>none_fungible_token</key>
  <string>none_fungible_token.glif</string>
  <key>ntilde</key>
  <string>ntilde.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>oacute</key>
  <string>oacute.glif</string>
  <key>ocircumflex</key>
  <string>ocircumflex.glif</string>
  <key>odieresis</key>
  <string>odieresis.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>ograve</key>
  <string>ograve.glif</string>
  <key>omega</key>
  <string>omega.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>onecircle</key>
  <string>onecircle.glif</string>
  <key>onenegativecircled</key>
  <string>onenegativecircled.glif</string>
  <key>oracle</key>
  <string>oracle.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>otilde</key>
  <string>otilde.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>phi</key>
  <string>phi.glif</string>
  <key>pi</key>
  <string>pi.glif</string>
  <key>play_to_earn</key>
  <string>play_to_earn.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>pound_sterling</key>
  <string>pound_sterling.glif</string>
  <key>poweron</key>
  <string>poweron.glif</string>
  <key>project</key>
  <string>project.glif</string>
  <key>proof_of_stake</key>
  <string>proof_of_stake.glif</string>
  <key>proof_of_work</key>
  <string>proof_of_work.glif</string>
  <key>protocol</key>
  <string>protocol.glif</string>
  <key>psi</key>
  <string>psi.glif</string>
  <key>punk</key>
  <string>punk.glif</string>
  <key>punk_left</key>
  <string>punk_left.glif</string>
  <key>punk_right</key>
  <string>punk_right.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>quadrantLowerLeft</key>
  <string>quadrantL_owerL_eft.glif</string>
  <key>quadrantLowerRight</key>
  <string>quadrantL_owerR_ight.glif</string>
  <key>quadrantUpperLeft</key>
  <string>quadrantU_pperL_eft.glif</string>
  <key>quadrantUpperLeftAndLowerLeftAndLowerRight</key>
  <string>quadrantU_pperL_eftA_ndL_owerL_eftA_ndL_owerR_ight.glif</string>
  <key>quadrantUpperLeftAndLowerRight</key>
  <string>quadrantU_pperL_eftA_ndL_owerR_ight.glif</string>
  <key>quadrantUpperLeftAndUpperRightAndLowerLeft</key>
  <string>quadrantU_pperL_eftA_ndU_pperR_ightA_ndL_owerL_eft.glif</string>
  <key>quadrantUpperLeftAndUpperRightAndLowerRight</key>
  <string>quadrantU_pperL_eftA_ndU_pperR_ightA_ndL_owerR_ight.glif</string>
  <key>quadrantUpperRight</key>
  <string>quadrantU_pperR_ight.glif</string>
  <key>quadrantUpperRightAndLowerLeft</key>
  <string>quadrantU_pperR_ightA_ndL_owerL_eft.glif</string>
  <key>quadrantUpperRightAndLowerLeftAndLowerRight</key>
  <string>quadrantU_pperR_ightA_ndL_owerL_eftA_ndL_owerR_ight.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>rightHeavyArrow</key>
  <string>rightH_eavyA_rrow.glif</string>
  <key>rightOneEighthBlock</key>
  <string>rightO_neE_ighthB_lock.glif</string>
  <key>rightdnheavyleftuplight</key>
  <string>rightdnheavyleftuplight.glif</string>
  <key>rightharpoonoverleftharpoon</key>
  <string>rightharpoonoverleftharpoon.glif</string>
  <key>rightheavyleftdnlight</key>
  <string>rightheavyleftdnlight.glif</string>
  <key>rightheavyleftuplight</key>
  <string>rightheavyleftuplight.glif</string>
  <key>rightheavyleftvertlight</key>
  <string>rightheavyleftvertlight.glif</string>
  <key>rightlightleftdnheavy</key>
  <string>rightlightleftdnheavy.glif</string>
  <key>rightlightleftupheavy</key>
  <string>rightlightleftupheavy.glif</string>
  <key>rightlightleftvertheavy</key>
  <string>rightlightleftvertheavy.glif</string>
  <key>rightupheavyleftdnlight</key>
  <string>rightupheavyleftdnlight.glif</string>
  <key>rightwardsarrow-hwd</key>
  <string>rightwardsarrow-hwd.glif</string>
  <key>ripple</key>
  <string>ripple.glif</string>
  <key>ripple_coin</key>
  <string>ripple_coin.glif</string>
  <key>ronin_coin</key>
  <string>ronin_coin.glif</string>
  <key>rtblock</key>
  <string>rtblock.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>satoshi</key>
  <string>satoshi.glif</string>
  <key>satoshi_nakamoto</key>
  <string>satoshi_nakamoto.glif</string>
  <key>scalability</key>
  <string>scalability.glif</string>
  <key>scholar</key>
  <string>scholar.glif</string>
  <key>scholarship</key>
  <string>scholarship.glif</string>
  <key>script</key>
  <string>script.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>secure_hash_algorithm_256</key>
  <string>secure_hash_algorithm_256.glif</string>
  <key>seed</key>
  <string>seed.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>server</key>
  <string>server.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>sevencircle</key>
  <string>sevencircle.glif</string>
  <key>sevennegativecircled</key>
  <string>sevennegativecircled.glif</string>
  <key>shade</key>
  <string>shade.glif</string>
  <key>signing</key>
  <string>signing.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>sixcircle</key>
  <string>sixcircle.glif</string>
  <key>sixnegativecircled</key>
  <string>sixnegativecircled.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>smart_contract</key>
  <string>smart_contract.glif</string>
  <key>smooth_love_potion_coin</key>
  <string>smooth_love_potion_coin.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>stablecoin</key>
  <string>stablecoin.glif</string>
  <key>staking</key>
  <string>staking.glif</string>
  <key>system_centralized</key>
  <string>system_centralized.glif</string>
  <key>system_distributed</key>
  <string>system_distributed.glif</string>
  <key>system_polarized</key>
  <string>system_polarized.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>target</key>
  <string>target.glif</string>
  <key>tau</key>
  <string>tau.glif</string>
  <key>team</key>
  <string>team.glif</string>
  <key>tether</key>
  <string>tether.glif</string>
  <key>tether_coin</key>
  <string>tether_coin.glif</string>
  <key>tezos</key>
  <string>tezos.glif</string>
  <key>tezos_coin</key>
  <string>tezos_coin.glif</string>
  <key>theta</key>
  <string>theta.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>threecircle</key>
  <string>threecircle.glif</string>
  <key>threenegativecircled</key>
  <string>threenegativecircled.glif</string>
  <key>timerclock</key>
  <string>timerclock.glif</string>
  <key>token</key>
  <string>token.glif</string>
  <key>token_1</key>
  <string>token_1.glif</string>
  <key>token_2</key>
  <string>token_2.glif</string>
  <key>token_3</key>
  <string>token_3.glif</string>
  <key>token_4</key>
  <string>token_4.glif</string>
  <key>token_5</key>
  <string>token_5.glif</string>
  <key>token_6</key>
  <string>token_6.glif</string>
  <key>trading</key>
  <string>trading.glif</string>
  <key>transaction</key>
  <string>transaction.glif</string>
  <key>transaction_fee</key>
  <string>transaction_fee.glif</string>
  <key>twitter</key>
  <string>twitter.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>twocircle</key>
  <string>twocircle.glif</string>
  <key>twonegativecircled</key>
  <string>twonegativecircled.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>uacute</key>
  <string>uacute.glif</string>
  <key>ucircumflex</key>
  <string>ucircumflex.glif</string>
  <key>udieresis</key>
  <string>udieresis.glif</string>
  <key>ugrave</key>
  <string>ugrave.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>uni00B5</key>
  <string>uni00B_5.glif</string>
  <key>uni03A9</key>
  <string>uni03A_9.glif</string>
  <key>uni20AE</key>
  <string>uni20A_E_.glif</string>
  <key>uni2715</key>
  <string>uni2715.glif</string>
  <key>upHeavyArrow</key>
  <string>upH_eavyA_rrow.glif</string>
  <key>uparrowleftofdownarrow</key>
  <string>uparrowleftofdownarrow.glif</string>
  <key>upblock</key>
  <string>upblock.glif</string>
  <key>updblhorzsng</key>
  <string>updblhorzsng.glif</string>
  <key>updblleftsng</key>
  <string>updblleftsng.glif</string>
  <key>updblrightsng</key>
  <string>updblrightsng.glif</string>
  <key>upheavydnhorzlight</key>
  <string>upheavydnhorzlight.glif</string>
  <key>upheavyhorzlight</key>
  <string>upheavyhorzlight.glif</string>
  <key>upheavyleftdnlight</key>
  <string>upheavyleftdnlight.glif</string>
  <key>upheavyleftlight</key>
  <string>upheavyleftlight.glif</string>
  <key>upheavyrightdnlight</key>
  <string>upheavyrightdnlight.glif</string>
  <key>upheavyrightlight</key>
  <string>upheavyrightlight.glif</string>
  <key>uplightdnhorzheavy</key>
  <string>uplightdnhorzheavy.glif</string>
  <key>uplighthorzheavy</key>
  <string>uplighthorzheavy.glif</string>
  <key>uplightleftdnheavy</key>
  <string>uplightleftdnheavy.glif</string>
  <key>uplightleftheavy</key>
  <string>uplightleftheavy.glif</string>
  <key>uplightrightdnheavy</key>
  <string>uplightrightdnheavy.glif</string>
  <key>uplightrightheavy</key>
  <string>uplightrightheavy.glif</string>
  <key>upperOneEighthBlock</key>
  <string>upperO_neE_ighthB_lock.glif</string>
  <key>upsnghorzdbl</key>
  <string>upsnghorzdbl.glif</string>
  <key>upsngleftdbl</key>
  <string>upsngleftdbl.glif</string>
  <key>upsngrightdbl</key>
  <string>upsngrightdbl.glif</string>
  <key>upwardsarrow-hwd</key>
  <string>upwardsarrow-hwd.glif</string>
  <key>user_1</key>
  <string>user_1.glif</string>
  <key>user_1_front_negative</key>
  <string>user_1_front_negative.glif</string>
  <key>user_1_left</key>
  <string>user_1_left.glif</string>
  <key>user_1_right</key>
  <string>user_1_right.glif</string>
  <key>user_2</key>
  <string>user_2.glif</string>
  <key>user_2_front_negative</key>
  <string>user_2_front_negative.glif</string>
  <key>user_2_left</key>
  <string>user_2_left.glif</string>
  <key>user_2_right</key>
  <string>user_2_right.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>vertdblhorzsng</key>
  <string>vertdblhorzsng.glif</string>
  <key>vertdblleftsng</key>
  <string>vertdblleftsng.glif</string>
  <key>vertdblrightsng</key>
  <string>vertdblrightsng.glif</string>
  <key>vertheavyhorzlight</key>
  <string>vertheavyhorzlight.glif</string>
  <key>vertheavyleftlight</key>
  <string>vertheavyleftlight.glif</string>
  <key>vertheavyrightlight</key>
  <string>vertheavyrightlight.glif</string>
  <key>vertlighthorzheavy</key>
  <string>vertlighthorzheavy.glif</string>
  <key>vertlightleftheavy</key>
  <string>vertlightleftheavy.glif</string>
  <key>vertlightrightheavy</key>
  <string>vertlightrightheavy.glif</string>
  <key>vertsnghorzdbl</key>
  <string>vertsnghorzdbl.glif</string>
  <key>vertsngleftdbl</key>
  <string>vertsngleftdbl.glif</string>
  <key>vertsngrightdbl</key>
  <string>vertsngrightdbl.glif</string>
  <key>virtual_reality</key>
  <string>virtual_reality.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>wallet</key>
  <string>wallet.glif</string>
  <key>web</key>
  <string>web.glif</string>
  <key>web1</key>
  <string>web1.glif</string>
  <key>web2</key>
  <string>web2.glif</string>
  <key>web3</key>
  <string>web3.glif</string>
  <key>web3_identity</key>
  <string>web3_identity.glif</string>
  <key>web3_wallet</key>
  <string>web3_wallet.glif</string>
  <key>white_paper</key>
  <string>white_paper.glif</string>
  <key>whitelist</key>
  <string>whitelist.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>xi</key>
  <string>xi.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>ydieresis</key>
  <string>ydieresis.glif</string>
  <key>yuan</key>
  <string>yuan.glif</string>
  <key>yuan_cbdc</key>
  <string>yuan_cbdc.glif</string>
  <key>yuan_stablecoin</key>
  <string>yuan_stablecoin.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zerocircle</key>
  <string>zerocircle.glif</string>
  <key>zerocircleblack</key>
  <string>zerocircleblack.glif</string>
</dict>
</plist>
